<div class="story-body">
  <p>Hong Kong is undergoing its biggest crisis since the handover to China in 1997. </p>
  <p>In 1984, China’s late leader Deng Xiaoping promised that Hong Kong could retain its capitalist way of life and enjoy a high degree of autonomy until 2047. But Beijing has been accused in recent years of increasingly interfering in the former British colony’s affairs.</p>
  {{!-- <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/cat.jpg"></p> --}}
  <p>The protests which started in June 2019 to oppose an extradition bill have turned violent with no signs of ending anytime soon. The bill was worrisome to many because it would place Hong Kongers in danger of being sent to China to be tried in the Communist Party-controlled courts. Even though the Hong Kong government announced a formal withdrawal of the bill in late October, the protests continued. </p>
</div>

