<div class="story-body scrollytelling">
    <h2>Here is a chart</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p>
    <div id="chart-1" class="chart"></div>

<div class="steps">
      <div class='step' id="first-stage">
        <p>The protests started in June and escalated in mid-July, when a group of suspected triad gang members attacked protesters and other citizens in Yuen Long while the police turned a blind eye to it. <br> Poll results showed that more than 40% of respondents had no trust in Hong Kong police by mid-August. </p>
      </div>
      <div class='step' id="second-stage">
        <p>On August 31, protests were held all over Hong Kong to mark the 5th anniversary of the day when the Chinese central government dashed the city’s hope for universal suffrage. This was followed by a large-scale strike participated by students and workers on the first day of school in September.<br> Police were accused of excessive violence during their clashes with protesters and nearly 50% of people polled said they had no trust in Hong Kong police by mid-September. </p>
      </div>
      <div class='step' id="third-stage">
        <p>National Day holiday violence escalated.</p>
      </div>
      <div class='step' id="fourth-stage">
        <p>Occupying university campuses.</p>
      </div>
    </div>
</div>

<script src="scripts/chart-01.js"></script>
