<div class="story-body">
    <h2>Escalating</h2>
    <p>The time map below displays protest activities over time  during the anti-extradition bill movement, extracting data from press releases by the <a href="https://www.police.gov.hk/ppp_en/03_police_message/pr/index.php">Hong Kong Police Force</a>.</p>
    
    <p>Despite the date source being police records, demonstrations clearly took place more frequently and more violent acts were committed in the latter months of the movement. Protests also expanded to more districts of the city, rather than concentrating in Admiralty where the government headquarters is located.</p>

<div class="flourish-embed" data-src="visualisation/942365" data-width="100%"></div><script src="https://public.flourish.studio/resources/embed.js"></script>


 </div>