<div class="story-body scrollytelling">
    <h2>Police Rating Plummets</h2>
    <p>Hong Kong’s police force, once said to be the best in Asia, has faced fierce criticism for their handling of the protests.</p>
    <p>Since May, the Ming Pao Newspaper has commissioned the Chinese University of Hong Kong to conduct five polls. Respondents were asked to rate their extent of trust in the police using a scale of zero to 10, which respectively indicates no trust and full trust. The results showed the percentage of respondents who gave the answer of “no trust” rose from 6.5 percent in early June just before the movement started to 51.5 percent in mid-October.</p>
    <p>Meanwhile, demonstrators have demanded an investigation into police brutality by an independent commission and amnesty for arrested protesters.</p>
    <div id="chart-1" class="chart"></div>

<div class="steps">
      <div class='step' id="first-stage">
        <p>The protests started in June and escalated in mid-July, when a group of suspected triad gang members attacked protesters and other citizens in Yuen Long while the police turned a blind eye to it.</p>  
        <p>Poll results showed that more than 40% of respondents had no trust in Hong Kong police by mid-August. </p>
      </div>
      <div class='step' id="second-stage">
        <p>On August 31, protests were held all over Hong Kong to mark the 5th anniversary of the day when the Chinese central government dashed the city’s hope for universal suffrage. This was followed by a large-scale strike participated by students and workers on the first day of school in September. </p>
        <p>Police were accused of excessive violence during their clashes with protesters and nearly 50% of people polled said they had no trust in Hong Kong police by mid-September. </p>
      </div>
      <div class='step' id="third-stage">
        <p>A series of violent conflicts between the police and protesters took place on the week of China’s National Day on October 1. An 18-year-old student was shot by the police.</p> 
        <p>A poll in mid-October showed more than half of respondents had no confidence in the police. </p>
      </div>
      <div class='step' id="fourth-stage">
        <p>The extradition bill was formally withdrawn on October 23, but protests continued. Another big strike took place on November 11, followed by police siege of two university campuses occupied by protesters which lasted for most of the rest of the month.</p>
      </div>
    </div>
</div>

<script src="scripts/chart-01.js"></script>
