<div class="story-body">
    <h2>Expanded Efforts</h2>
    <p>The data also showed that people are devoting more weekday time to protests since October.</p>
    <p>November witnessed two prolonged protests when protesters occupied the campuses of the Chinese University of Hong Kong and the Hong Kong Polytechnic University, which lasted four days and 16 days respectively. </p>

<iframe title="Weekend Protests Turned into a Constant Battle" aria-label="Grouped Bars" id="datawrapper-chart-8vhlG" src="//datawrapper.dwcdn.net/8vhlG/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="505"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}})}();</script>
</div>